.guide-message-modal {
    .ant-modal-content{
        background: transparent !important;
        box-shadow: none !important;
        .ant-modal-close{
            display: none;
        }
        .ant-modal-body {
            padding: 0;
            .title {
                display: none;
            }
        }
    }
    .email {
        background: url(../../images//bg_email.svg);
        padding: 58px;
        font-size: 16px;
        font-family: Kanit;
        font-weight: 300;
        line-height: 1.5;
        color: #000000;
        background-position-x: 50%;
        background-position-y: 50%;
        border-radius: 20px;
        width: 700px;
        // opacity: 0.8;
        p{
            margin-bottom: 16px;
            padding-left: 38px;
        }
        .email-title {
            margin-bottom: 24px;
            padding-left: 0;
        }
        .email-footer {
            margin-top: 16px;
            margin-bottom: 0;
            padding-left: 0;
            text-align: right;
            font-family: Papyrus;
        }
    }

    .btn-wrapper {
        display: flex;
        justify-content: center;

        .btn {
            width: 174px;
            height: 40px;
            background: #FFFFFF;
            box-shadow: 0px 3px 6px rgba(196, 203, 214, 0.1);
            opacity: 1;
            border-radius: 20px;
            border: 0;
            font-size: 16px;
            font-family: Kanit;
            font-weight: 400;
            line-height: 11px;
            color: #000000;
            margin-top: 16px;
        }
    } 
}