.credential {
    background: url('../../images//bg_credential.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 476px;
    height: 254px;
    display: flex;
    padding: 28px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;
    position: relative;

    .bg-left {
        width: 196px;
        height: 196px;
        margin-right: 30px;
    }

    .attested-img {
        position: absolute;
        left: 170px;
        bottom: 26px;
        width: 106px;
        height: 106px;
    }

    .detail {
        flex: 1;
    }

    .detial-item +  .detial-item{
        margin-top: 14px;
    }

    .detial-item {
        display: flex;
        justify-content: space-between;

        .label {
            font-size: 14px;
            font-family: Marion-Bold;
            line-height: 17px;
            color: #000000;
        }

        .value {
            font-size: 13px;
            font-family: Roboto-Regular;
            line-height: 16px;
            color: #000000;
            opacity: 1;
        }
    }

    .name-item {
        display: flex;
        flex-direction:column;
        margin-bottom: 20px;
        .value { 
            font-size: 22px;
            font-family: Roboto-Bold;
            line-height: 26px;
            color: #000000;
            margin-left: 16px;
        }
    }
}