.register-confirm {
  width: 500px;
  margin: 0 auto;

  > .tip {
    font-size: 14px;
    font-family: Kanit;
    font-weight: 300;
    line-height: 24px;
    color: #000000;
    margin-bottom: 44px;
  }

  .confirm-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .ant-form-item-label {
      padding: 0;
      > label {
        font-size: 14px;
        font-family: Kanit;
        font-weight: 400;
        line-height: 24px;
        color: #666666;
      }
    }

    .confirm-input {
      width: 230px;
      height: 44px;
      background: #f7f8fa;
      border: 1px solid #c5c5de;
      opacity: 1;
      border-radius: 10px;
      > input {
        background: #f7f8fa;
      }
    }
  }

  > .footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;

    .create-btn {
      width: 140px;
      height: 44px;
      box-shadow: 0px 3px 6px rgba(196, 203, 214, 0.1);
      border-radius: 10px;
      font-size: 16px;
      font-family: Kanit;
      font-weight: 400;
      color: #ffffff;
    }
  }
}
