.walletModal {
  .ant-modal-content {
    width: 500px;

    .wallets {
      margin-top: 34px;

      .account-item {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: $height-xl;
        padding: 0 12px;
        justify-content: space-between;
        font-size: 16px;
        font-family: Kanit;
        font-weight: 400;
        line-height: 24px;
        color: #666666;

        .left {
          display: flex;
          align-items: center;
        }
        .account-addr {
          margin-left: 10px;
        }

        .right {
          display: flex;
          align-items: center;
        }
      }

      > li:hover {
        border-radius: 10px;
        background: $item-hover-bg;
      }
    }
  }
}
