.walletModal {
  .ant-modal-content {
    width: 500px;

    .wallets {
      margin-top: 34px;
      margin-bottom: 8px;

      .account-item {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: $height-xl;
        padding: 0 12px;
        justify-content: space-between;
        font-size: 16px;
        font-family: Kanit;
        font-weight: 400;
        line-height: 24px;
        color: #666666;

        .left {
          display: flex;
          align-items: center;
        }
        .account-addr {
          margin-left: 10px;
        }

        .right {
          display: flex;
          align-items: center;

          .icon_download {
            margin-left: 8px;
          }

          .icon_success2 {
            margin-right: 8px;
          }
        }
      }

      > li:hover {
        border-radius: 10px;
        background: $item-hover-bg;
      }
    }

    .footer {
      padding-top: 24px;
      border-top: 1px solid #f4f6fd;
      font-size: 16px;
      font-family: Kanit;
      font-weight: 400;
      line-height: 24px;
      color: #333333;
      text-align: center;
      cursor: pointer;
    }

    .footer:hover {
      color: $primary-color;
      text-decoration: underline;
    }
  }
}
