.claim-list-item {
  display: grid;
  grid-template-columns: 20px 1fr repeat(2, 2fr) 1fr 2fr 3fr;
  width: 1200px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
  opacity: 1;
  border-radius: 10px;
  margin-bottom: 6px;
  padding: 0 24px;

  .op-btn {
    width: 36px;
    height: 36px;
    background: #f4f6fd;
    opacity: 1;
    border-radius: 10px;
    display: inline-block;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
    > img {
      width: 12px;
      height: 12px;
    }
  }

  .op-btn + .op-btn {
    margin-left: 10px;
  }

  &:hover {
    background: #eaecf2;
  }
}
