@font-face {
  font-family: "Kanit";
  src: url("../font/Kanit/Kanit-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Papyrus";
  src: url("../font/Papyrus/PapyrusStd.OTF");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoSlab";
  src: url("../font/RobotoSlab/RobotoSlab-Bold.ttf");
  font-style: normal;
  font-weight: normal;
}

