.guide-home {
  background: url("../../images/bg_first.svg");
  width: 100%;
  min-height: 100%;
  overflow: auto;
  background-repeat: no-repeat;
  background-size: cover;
  .guide-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
  }

  .guide-home-left {
    width: 544px;
    margin-right: 142px;
    .guide-home-left-title {
      font-size: 55px;
      font-weight: 500;
      line-height: 74px;
      color: #ffffff;
    }

    .guide-home-left-desc {
      font-size: 20px;
      font-weight: 400;
      margin-top: 16px;
      margin-bottom: 48px;
      color: #ffffff;
      opacity: 0.8;
      line-height: 1.5;
    }

    .guide-home-btn {
      padding:  0 24px;
      width: auto;
      height: 48px;
      background: #ffffff;
      opacity: 1;
      border-radius: 24px;
      font-size: 18px;
      font-weight: 400;
      color: #000000;
      border: 0;
      display: inline-flex;
      margin-right: 36px;

      .iconfont{
        font-size: 12px;
        margin-left: 10px;
      }
    }

    .guide-home-left-icon {
      position: relative;
      padding-left: 20px;
      .star-img {
        right: -5px;
        position: absolute;
        top: 16px;
      }
    }
  }

  .guide-home-right {
    > img {
      width: 395px;
      height: 540px;
      image-rendering: -webkit-optimize-contrast;
    }
  }
}
