.ctypes {
  height: 100%;
  .btn-wrapper {
    display: flex;
    justify-content: right;
    margin-top: 16px;
  }
  .create-btn {
    width: 166px;
    height: 40px;
    background: #6768ac;
    box-shadow: 0px 3px 6px rgba(196, 203, 214, 0.1);
    opacity: 1;
    border-radius: 16px;
    font-size: 16px;
    font-family: Kanit;
    font-weight: 500;
    line-height: 11px;
  }
  .lists-header {
    font-size: 14px;
    font-family: Kanit;
    font-weight: 400;
    color: #666666;
    display: grid;
    grid-template-columns: 60px 1fr 2fr 60px;
    padding-left: 20px;
    height: 30px;
    margin-top: 36px;
  }
}
