@font-face {
  font-family: "iconfont"; /* Project id 3139480 */
  src: url('iconfont.woff2?t=1652953968384') format('woff2'),
       url('iconfont.woff?t=1652953968384') format('woff'),
       url('iconfont.ttf?t=1652953968384') format('truetype'),
       url('iconfont.svg?t=1652953968384#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shuaxin:before {
  content: "\e690";
}

.a-ziyuan11:before {
  content: "\e68f";
}

.wenhao-xianxingyuankuang:before {
  content: "\e8e9";
}

.suo:before {
  content: "\e617";
}

.a-icon_verifiedflase:before {
  content: "\e680";
}

.icon_true:before {
  content: "\e67f";
}

.icon_1:before {
  content: "\e67d";
}

.a-Iconmaterial-date-range:before {
  content: "\e67e";
}

.a-ziyuan3:before {
  content: "\e693";
}

.a-ziyuan1:before {
  content: "\e694";
}

.a-ziyuan5:before {
  content: "\e695";
}

.a-ziyuan4:before {
  content: "\e696";
}

.icon_delete4:before {
  content: "\e68a";
}

.icon_narrow_down3:before {
  content: "\e68b";
}

.icon_add1:before {
  content: "\e68c";
}

.icon_narrow_right3:before {
  content: "\e68d";
}

.icon_square:before {
  content: "\e68e";
}

.icon_copy:before {
  content: "\e687";
}

.icon_copy2:before {
  content: "\e688";
}

.icon_jump:before {
  content: "\e689";
}

.icon_narrow_down2:before {
  content: "\e685";
}

.icon_narrow_right2:before {
  content: "\e686";
}

.icon_add22:before {
  content: "\e681";
}

.icon_narrow_down1:before {
  content: "\e682";
}

.icon_delete3:before {
  content: "\e683";
}

.icon_narrow_right1:before {
  content: "\e684";
}

.a-icon_zoomout:before {
  content: "\e67a";
}

.icon_success_strong:before {
  content: "\e67b";
}

.a-icon_wrongreason:before {
  content: "\e67c";
}

.icon_development_tasks:before {
  content: "\e63a";
}

.icon_close:before {
  content: "\e63b";
}

.icon_collect:before {
  content: "\e63c";
}

.icon_documentation:before {
  content: "\e63d";
}

.icon_delete:before {
  content: "\e63e";
}

.icon_calendar:before {
  content: "\e63f";
}

.icon_down2:before {
  content: "\e640";
}

.icon_down:before {
  content: "\e641";
}

.icon_custom:before {
  content: "\e642";
}

.icon_download:before {
  content: "\e643";
}

.icon_add:before {
  content: "\e644";
}

.icon_delete2:before {
  content: "\e645";
}

.icon_card:before {
  content: "\e646";
}

.icon_add2:before {
  content: "\e647";
}

.icon_drag:before {
  content: "\e648";
}

.icon_edit:before {
  content: "\e649";
}

.icon_empty:before {
  content: "\e64a";
}

.icon_enlarge:before {
  content: "\e64b";
}

.icon_error_weak:before {
  content: "\e64c";
}

.icon_filter:before {
  content: "\e64d";
}

.icon_forward:before {
  content: "\e64e";
}

.icon_error_strong:before {
  content: "\e64f";
}

.icom_feedback:before {
  content: "\e650";
}

.icon_home:before {
  content: "\e651";
}

.icon_help:before {
  content: "\e652";
}

.icon_hide:before {
  content: "\e653";
}

.a-icon_fullscreen:before {
  content: "\e654";
}

.icon_left:before {
  content: "\e655";
}

.icon_left2:before {
  content: "\e656";
}

.icon_dot:before {
  content: "\e657";
}

.icon_info_strong:before {
  content: "\e658";
}

.icon_list:before {
  content: "\e659";
}

.icon_like:before {
  content: "\e65a";
}

.icon_more_vertical:before {
  content: "\e65b";
}

.icon_more:before {
  content: "\e65c";
}

.icon_position:before {
  content: "\e65d";
}

.icon_night:before {
  content: "\e65e";
}

.icon_manage:before {
  content: "\e65f";
}

.icon_reduce2:before {
  content: "\e660";
}

.icon_revise:before {
  content: "\e661";
}

.icon_reply:before {
  content: "\e662";
}

.icon_putaway:before {
  content: "\e663";
}

.icon_right:before {
  content: "\e664";
}

.icon_rotate:before {
  content: "\e665";
}

.icon_success2:before {
  content: "\e666";
}

.icon_right2:before {
  content: "\e667";
}

.icon_user2:before {
  content: "\e668";
}

.icon_up2:before {
  content: "\e669";
}

.icon_warning_weak:before {
  content: "\e66a";
}

.icon_visible:before {
  content: "\e66b";
}

.icon_success_weak:before {
  content: "\e66c";
}

.icon_time:before {
  content: "\e66d";
}

.icon_sun:before {
  content: "\e66e";
}

.icon_service:before {
  content: "\e66f";
}

.icon_smile:before {
  content: "\e670";
}

.icon_up:before {
  content: "\e671";
}

.icon_search:before {
  content: "\e672";
}

.icon_safety:before {
  content: "\e673";
}

.icon_user-1:before {
  content: "\e674";
}

.icon_site:before {
  content: "\e675";
}

.icon_user:before {
  content: "\e676";
}

.a-icon_starfile:before {
  content: "\e677";
}

.icon_warning_strong:before {
  content: "\e678";
}

.icon_upload:before {
  content: "\e679";
}

