.homeLayout {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;

  > .content {
    display: flex;
    align-items: center;
    margin-top: 66px;

    .login-img {
      width: 490px;
      height: 444px;
      margin-left: 126px;
    }
  }
}
