.contentLayout {
  display: flex;
  // height: 100%;
  width: 100%;
  // background: linear-gradient(180deg, #f4f5fc 0%, #f6f7fd 82%, #ffffff 100%);
  flex-direction: column;
  padding-bottom: 30px;
}
