.my-modal-component {
  width: 100%;
  .ant-modal-content {
    background: $white;
    box-shadow: 0px 6px 58px rgba(121, 145, 173, 0.2);
    border-radius: 24px;

    // .ant-modal-body {
    //   padding: 24px 24px 32px;
    // }

    .title {
      font-size: 18px;
      font-weight: 600;
      color: $title-color;
      margin-top: 10px;
      text-align: center;
    }

    .close-btn {
      width: 44px;
      height: 44px;
      background: #f4f6fd;
      border-radius: 14px;
      display: inline-block;
      margin-top: $margin-lg;
      margin-left: -40px;
      > img {
        width: 24px;
        height: 24px;
      }
    }

    .has-divider {
      &.title {
        margin-bottom: 28px;
      }
    }
    .divider {
      height: 1px;
      width: calc(100% - 10px);
      background: #eaecf2;
      display: inline-block;
      position: absolute;
      left: 5px;
    }
  }
}
