.search-components {
  .header-search {
    width: 231px;
    height: 34px;
    background: $white;
    border-radius: 24px;
    padding: 0 20px;
    border: 0;

    .icon-search {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }

    input::-webkit-input-placeholder {
      font-size: 12px;
      font-family: Kanit;
      font-weight: 300;
      color: #7d8592;
      opacity: 1;
    }
  }
}
